#sidebar
  = link_to root_path do
    = image_tag "xoneprofile.png", id: "logo"
  %ul
    %li.category Website
    %li= link_to "Blog", root_path
    %li= link_to "About", about_path
  %ul
    %li.category Social
    %li
      %a{:href => "https://twitter.com/jackonrails3500"} Twitter
    %li
      %a{:href => "http://instagram.com/allexandresampaio"} Instagram
    %li
      %a{:href => "https://github.com/allexampaio"} Github
    %li
      %a{:href => "mailto:allexonrails@gmail.com"} Email
  - unless user_signed_in?
    %p.sign_in= link_to "Admin Login", new_user_session_path
